.background-img {
  height: 50vh;
  width: 50vw;
  padding: 0;
  margin-left: -15px;
}

.button-holder {
  display: grid;
  grid-template:
    [row1-start] ". " 2vh [row1-end]
    [row2-start] " button1 " 8vh [row2-end]
    [row3-start] ". " 2vh [row4-end]
    [row4-start] " button2 " 8vh [row4-end]
    [row5-start] ". " 2vh [row5-end]
    [row6-start] " button3 " 8vh [row6-end]
    [row7-start] ". " 2vh [row7-end]
    [row8-start] " button4 " 8vh [row8-end]
    [row9-start] "." 2vh [row9-end]
    / 100%;
}

.splash-img {
  height: 100%;
  width: 100vw;
  display: block;
  object-fit: cover;
}

// button {
//   border: 2px solid black;
//   font-weight: bold;
// }

.home-wrap {
  display: grid;
}

.menu-btn {
  grid-area: button1;
}

.order-btn {
  grid-area: button2;
}

.signup-btn {
  grid-area: button3;
}

.location-btn {
  grid-area: button4;
}
