<div class="home-wrap">
  <div class=" background-img-area ">
    <img class="splash-img" src="./assets/images/home-splash.jpg" alt="">
  </div>
  <div class=" button-holder">
    <button class="btn btn-lg btn-success menu-btn">Menu</button>
    <button class="btn btn-lg btn-success order-btn"
    routerLink="./order">Start Order</button>
    <button class="btn btn-lg btn-success signup-btn">Sign Up</button>
    <button class="btn btn-lg btn-success location-btn">Find Nearest Location</button>
  </div>
  <div class="store-bg-img-area">
    <img class ="store-img" src="./assets/images/store_img.png" alt="">
  </div> <!-- store image -->
  <div class="quote ">
    <div class="d-flex font-italic">
        "It's not actually 'us,' it's really just me... and it's for pretend."
    </div>
  </div> <!-- quote -->
  <div class="profile ">
    <div class="profile-img-area">
      <img src="./assets/images/sven_headshot.png" class="profile-img" alt="">
    </div>
    <div class="profile-copy  ">
      I try to serve the freshest salads and sandwiches possible... because I'm the only one that eats them. I go to great lengths to make sure that what I fix myself isn't bad, and I think that for the most part, I do a fine job. No one has ever given me an award for my food because no one else has tried it. I've eaten it all. And that's right, I charge myself for it.
    </div>
  </div> <!-- profile section -->
</div>
