.header {
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  background-color: rgb(3, 92, 3);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 7.5vmin;
  border-bottom: 2px solid rgb(44, 44, 44);
}
