@import "/src/styles.scss";

.order-form-wrap {
}

.item-list {
  // display: grid;
  // grid-template:
  //   [spc1-s] ". . ." 0.5vh [spc1-e]
  //   [item-s] "item item item" 4vh [item-e]
  //   [detail-s] "ingredient ingredient ingredient" auto [detail-e]
  //   [spc2-s] ". . ." 1vh [spc2-e]
  //   [mods-s] "mods mods mods" 4vh [mods-e]
  //   [btns-s] "btns btns btns" 4vh [btns-e]
  //   [spc3-s] ". . ." 0.5vh [spc3-e]
  //   / 1fr 1fr 1fr;
  // padding: 1vw;
  // margin: 1px;

  display: flex;
  flex-flow: column;
  width: 96%;
  background-color: #f8f5f2;
  border-radius: 0.5rem;
  padding: 1%;
  margin: 1%;
}

.item {
  background-color: #b9c7cb;
  font-weight: bold;
  height: calc(4vmin + 2vmin);
  line-height: 1;
  font-size: 4vmin;
  padding: 1vmin 6vmin;
  margin-bottom: 0;
}

.ingredient-list {
  width: 96%;
  padding: 1%;
  margin: 0 1%;
  display: block;
}

.ingredient {
  // display: block; (inherited)
  font-size: 3vmin;
  width: 96%;
  margin: 1%;
  padding: 1vmin 1%;
  height: calc(3vmin + 2vmin);
  line-height: 1;
  background-color: #e8ecee;
}

.item-meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 1vmin 0;
}

.item-meta * {
  line-height: 1;
  margin: 0 1%;
  font-size: 3vmin;
  height: 4vmin;
  text-align: center;
  text-justify: center;
  justify-items: center;
  vertical-align: center;
  align-items: center;
  border-radius: 0.25rem;
}

.item-meta-1 {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50%;
}
.item-meta-1 div {
  display: flex;
  align-items: center;
}

.item-meta-1 > input {
  display: flex;
  padding: 0 3%;
  width: 20%;
  border: 1px solid $border-dark;
}

.item-meta-1 > label {
  display: flex;
  padding: 0 5%;
  margin: 0 1%;
  width: 40%;
  border: 1px solid $border-dark;
  background-color: white;
  justify-content: center;
}
.subtotal {
  display: flex;
  justify-items: flex-end;
  flex-flow: row nowrap;
  width: 50%;
}

.subtotal > * {
  display: flex;
  padding: 0 5%;
}

.subtotal > div {
  justify-content: right;
}

.subtotal > label {
  width: 60%;
  border: 1px solid $border-dark;
  background-color: white;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.actions * {
  height: 5vmin;
  font-size: 4vmin;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.add-more {
  margin: 1px auto;
  height: 6vmin;
}
