// GLOBAL
hr {
  margin: 1.5vh 5vw 0 5vw;
  border: 1px solid darkgray;
  // TODO: fix shadow
  box-shadow: 0 0px 0px -10px dimgray;
}

button {
  //   grid-area: item;
  display: flex;
  //   text-align: start;
  //   background-color: lightblue;
  //   border-radius: 4px;
  //   border: 0.5px solid darkblue;
  align-items: center;
  justify-content: center;
  //   margin: 1px 2px;
  //   padding: 0.5rem;
  //   font-weight: bold;

  //   margin: 1px;
  //   font-weight: bolder;
  //   padding: 0;
}

.builder-wrap {
  display: grid;
  grid-template:
    [img-s] ". img ." 15vh [img-e]
    [spc1-s] ". . ." 2vh [spc1-e]
    [builder-s] ". builder ." 45vh [builder-e]
    [spc2-s] ". . ." 2vh [spc2-e]
    [done-s] ". done_btn ." 6vh [done-e]
    [spc3-s] ". divider1 ." 3vh [spc3-e]
    [cancel-s] ". cancel_btn ." 6vh [cancel-e]
    [spc4-s] ". divider2 ." 3vh [spc4-e]
    [add-s] ". add_btn ." 6vh [add-e]
    [spc5-s] ". . ." 2vh [spc5-e]
    / 2vw 96vw 2vw;
}

.fill {
  grid-area: img;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgreen;
  overflow: hidden;
}

.fill img {
  min-height: 100%;
  min-width: 100%;
  flex-shrink: 0;
  object-fit: scale-down;
}

.done {
  grid-area: done_btn;
  border: 1px solid darkgreen;
}

.cancel {
  grid-area: cancel_btn;
  border: 1px solid darkred;
}

.add-ingredients-btn {
  grid-area: add_btn;
}

hr.divider1 {
  grid-area: divider1;
}

.divider2 {
  grid-area: divider2;
}

.builder {
  grid-area: builder;
  background-color: rgba(169, 169, 169, 0.707);
  padding: 0.25rem;
  border-radius: 3px;
  overflow-y: scroll;
}

.holder {
  grid-area: divider1;
  padding: 1rem;
}

// POPUPS

// SCREEN COVER (prevents unwanted button presses)
.popup-screen-cover {
  grid-area: 1 / 1 / 11 / 4;
  display: flex;
  position: relative;
  width: 100vw;
  height: 90vh;
  border: 2px solid rgb(39, 39, 39);
  background-color: rgb(248, 248, 248);
  padding: 3vh 3vw;
}

.popup-window {
  display: grid;
  grid-template:
    [s-s] ". . ." 2fr [s-e]
    [msg-s] ". contents ." 60fr [msg-e]
    [spc1-s] ". . ." 2fr [spc1-e]
    [yes-s] ". remove_btn ." 6fr [yes-e]
    [spc2-s] ". . ." 6fr [spc2-e]
    [close-s] ". close ." 6fr [close-e]
    [e-s] ". . ." 6fr [e-e]
    / 2fr 96fr 2fr;
  place-self: center stretch;
  width: 100%;
  height: 90vh;
}

// CONFIRM CANCEL
.popup-contents {
  grid-area: contents;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw;
  background-color: rgb(248, 248, 248);
  overflow: scroll;
  flex-direction: column;
}

.msg {
  grid-area: msg;
  display: flex;
  flex-flow: column;
  // place-self: center;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 1rem;
}

.remove {
  text-align: center;
  font-size: 2rem;
}

// ingredient types
.popup-wrap {
  display: flex;
  flex-direction: column;
  width: 96%;
  overflow: hidden;
  margin: auto;
}

.ingredients-popup {
  display: grid;
  grid-template:
    [s-s] ". . ." 2px [e-s]
    [s-s] ". item ." 6vh [e-s]
    [e-s] ". . ." 2px [e-s]
    / 2fr 96fr 2fr;
  overflow-y: scroll;
}

.ingredient {
  width: 100%;
  margin: 1vh 2vw;
  font-weight: bold;
}

.remove-btn {
  grid-area: remove_btn;
}

.close-btn {
  grid-area: close;
  margin: 1vh auto;
}
