<div class="builder-wrap">
  <div class="fill">
    <img src="/assets/images/temp_img.png" alt="">
  </div>

  <app-builder-form class="builder"></app-builder-form>

  <button type="button" class="done btn btn-lg btn-success">Done</button>
    <hr class="divider1"> <!-- go to order-list -->
  <button type="button" class="cancel btn btn-lg btn-danger" (click)="confirmCancel()">
    Cancel
  </button> <!-- cancel confirm popup -->

  <hr class="divider2">
  <button type="button" class="add-ingredients-btn btn btn-lg btn-primary"
  routerLink="../ingredient-list">Add Ingredients</button>

  <!-- CONFIRM POPUP -->
  <div class="confirm-popup" *ngIf="confirmFlag">
    <div class="confirm-cancel">
      <div class="msg">
        <div class="remove">Do you <span class="really">really</span> want to cancel this item?</div>
      </div>
      <button type="button" class="remove-btn btn btn-danger">
        Remove Item
      </button>
      <button type="button" class="close-btn btn btn-primary" (click)="exitCancel()">
        Close
      </button>
    </div>
  </div> <!-- confirm popup -->




  <!-- <div class="popup">
    <router-outlet name="confirmCancel"></router-outlet>
  </div> -->



</div>


