@import "src/styles.scss";

// GLOBAL
hr {
  margin: 1.5vh 5% 0 5%;
  border: 1px solid darkgray;
  // TODO: fix shadow
  box-shadow: 0 0px 0px -10px dimgray;
}

button {
  align-items: center;
  justify-content: center;
}

.builder-wrap {
  display: grid;
  grid-template:
    [spc1-s] ". . ." 2vh [spc1-e]
    [builder-s] ". builder ." 66vh [builder-e]
    [spc2-s] ". . ." 5vh [spc2-e]
    [done-s] ". done_btn ." 6vh [done-e]
    [spc3-s] ". divider1 ." 3vh [spc3-e]
    [cancel-s] ". cancel_btn ." 6vh [cancel-e]
    [spc5-s] ". . ." 2vh [spc5-e]
    / 2% 96% 2%;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.done {
  grid-area: done_btn;
  border: 1px solid darkgreen;
}

.cancel {
  grid-area: cancel_btn;
  border: 1px solid darkred;
}

.add-ingredients-btn {
  grid-area: add_btn;
}

hr.divider1 {
  grid-area: divider1;
}

.divider2 {
  grid-area: divider2;
}

.builder {
  grid-area: builder;
  background-color: #f8f5f2;
  padding: 0.25rem;
  border-radius: 3px;
  // border: 1px solid $border-dark;
  overflow-y: scroll;
}

.holder {
  grid-area: divider1;
  padding: 1rem;
}

// POPUPS

// SCREEN COVER (prevents unwanted button presses)
.popup-screen-cover {
  grid-area: 1 / 1 / 11 / 4;
  display: flex;
  position: relative;
  width: 100%;
  height: 90vh;
  border: 2px solid rgb(39, 39, 39);
  background-color: rgb(248, 248, 248);
  padding: 3vh 3%;
}

.popup-window {
  display: grid;
  grid-template:
    [s-s] ". . ." 2fr [s-e]
    [msg-s] ". contents ." 60fr [msg-e]
    [spc1-s] ". . ." 2fr [spc1-e]
    [yes-s] ". remove_btn ." 6fr [yes-e]
    [spc2-s] ". . ." 6fr [spc2-e]
    [close-s] ". close ." 6fr [close-e]
    [e-s] ". . ." 6fr [e-e]
    / 2fr 96fr 2fr;
  place-self: center stretch;
  width: 100%;
  height: 90vh;
}

// CONFIRM CANCEL
.popup-contents {
  grid-area: contents;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 3%;
  background-color: rgb(248, 248, 248);
  overflow: scroll;
  flex-direction: column;
}

.msg {
  grid-area: msg;
  display: flex;
  flex-flow: column;
  // place-self: center;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 1rem;
}

.remove {
  text-align: center;
  font-size: 2rem;
}

// ingredient types
.popup-wrap {
  display: flex;
  flex-direction: column;
  width: 96%;
  overflow: hidden;
  margin: auto;
}

.ingredients-popup {
  display: grid;
  grid-template:
    [s-s] ". . ." 2px [e-s]
    [s-s] ". item ." 6vh [e-s]
    [e-s] ". . ." 2px [e-s]
    / 2fr 96fr 2fr;
  overflow-y: scroll;
}

.ingredient {
  width: 100%;
  margin: 1vh 2%;
  font-weight: bold;
  background-color: #c4cfd4;
  color: black;
  border: 1px #111517;
}

.remove-btn {
  grid-area: remove_btn;
}

.close-btn {
  grid-area: close;
  // margin: 1vh auto;
}

.selected {
  background-color: #0d0a07;
  color: #f5f5f5;
}

@media only screen and (min-width: 768px) {
  .builder-wrap {
    display: grid;
    grid-template:
      [spc1-s] ". . . . ." 2vh [spc1-e]
      [builder-s] ". builder builder builder ." 72vh [builder-e]
      [spc2-s] ". . . . ." 5vh [spc2-e]
      [done-s] ". done_btn . cancel_btn ." 6vh [done-e]
      [spc3-s] ". . . . ." 3vh [spc3-e]
      // [cancel-s] ". cancel_btn ." 6vh [cancel-e]
      [spc5-s] ". . . . ." 2vh [spc5-e]
      / 2% 46% 4% 46% 2%;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  // POPUPS

  // SCREEN COVER (prevents unwanted button presses)
  .popup-screen-cover {
    grid-area: 1 / 4 / 11 / 6;
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;
    border: 2px solid rgb(39, 39, 39);
    background-color: rgb(248, 248, 248);
    padding: 3vh 3%;
  }
}
