.order-list-wrap {
  display: grid;
  grid-template:
    [s1-s] ". . . . ." 2vh [s1-e]
    [total-s] ". . . total ." 6vh [total-e]
    [s2-s] ". . . . ." 1vh [s2-e]
    [order-s] ". order order order ." 53vh [order-e]
    [s4-s] ". . . . ." 2vh [s4-e]
    [pay-s] ". pay pay pay ." 6vh [pay-e]
    [divider-s] ". divider divider divider ." 3vh [divider-e]
    [cancel-s] ". cancel cancel cancel ." 6vh [cancel-e]
    [s5-s] ". . . . ." 2vh [s5-e]
    / 2vw 32vw 32vw 32vw 2vw;
}

.total {
  // TODO: needs work for viewports (vert center)
  grid-area: total;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  padding: 0;
  font-size: 6vmin;
  font-weight: bold;
  height: 8vmin;
  vertical-align: middle;
  line-height: 8vmin;
}

.order-form {
  grid-area: order;
  overflow-y: scroll;
}

.add {
  grid-area: add;
}

.pay {
  grid-area: pay;
}

.divider {
  grid-area: divider;
  display: flex;
}

.cancel {
  grid-area: cancel;
}

hr {
  margin: auto 5vw;
  width: 95vw;
}

label {
  margin-bottom: 0;
}

// POPUPS

// SCREEN COVER (prevents unwanted button presses)
.popup-screen-cover {
  grid-area: 1 / 1 / 6 / 4;
  display: flex;
  position: relative;
  width: 100vw;
  height: 90vh;
  border: 2px solid rgb(39, 39, 39);
  background-color: rgba(248, 248, 248, 0.919);
  padding: 3vh 3vw;
  margin: 0 -2vw;
}

.popup-window {
  display: grid;
  grid-template:
    [s-s] ". . ." 2fr [s-e]
    [msg-s] ". contents ." 60fr [msg-e]
    [spc1-s] ". . ." 2fr [spc1-e]
    [yes-s] ". btn1 ." 6fr [yes-e]
    [spc2-s] ". . ." 6fr [spc2-e]
    [close-s] ". btn2 ." 6fr [close-e]
    [e-s] ". . ." 6fr [e-e]
    / 2fr 96fr 2fr;
  place-self: center stretch;
  width: 96vw;
  height: 90vh;
}

// CONFIRM CANCEL
.popup-contents {
  grid-area: contents;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw;
  background-color: rgb(248, 248, 248);
  overflow: scroll;
  flex-direction: column;
}

.msg {
  grid-area: msg;
  display: flex;
  flex-flow: column;
  // place-self: center;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 1rem;
}

.cancel-pop {
  text-align: center;
  font-size: 2rem;
}

.cancel-btn-pop {
  grid-area: btn1; // popup-window
}

.close-btn {
  grid-area: btn2; // popup-window
  // margin: 1vh auto;
}
