<ng-container *ngFor="let recipe of specialties$ | async " >
  <div class="specialty-wrapper">
    <div class="recipe-wrap">
      <div class="fill">
        <img class="fill" src="{{ recipe.img }}" alt="">
      </div>
      <button class="btn btn-success"
      type="button" (click)="loadSpecialty(recipe.id)"
      routerLink="../builder"> {{ recipe.name }}</button>
      <div class="description bord-3">
        <div class="price">$ {{calculateSpecialtyPrice(recipe)}}</div>
        {{ recipe.description }}
      </div>
    </div> <!-- *ngFor: item wrap -->
  </div>
</ng-container>
