.paywrap {
  display: grid;
  grid-template:
    [r0-s] ". . ." 10vh [r0-e]
    [r1-s] "edit . total" 6vh [r1-e]
    [r2-s] " form form form" 36vh [r2-s]
    [r3-s] ". . ." 6vh [r3-e]
    [r4-s] "submit submit submit" 6vh [r4-e]
    [r5-s] "hr hr hr" 6vh [r5-e]
    [r6-s] "cancel cancel cancel" 6vh [r6-e]
    / 40fr 15fr 30fr;
  margin: 0 2vw;
}

.edit {
  grid-area: edit; // paywrap
}

.total {
  grid-area: total; // paywrap
  margin-bottom: 0;
  height: 6vh;
  font-size: 1.55rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}

.form {
  grid-area: form; // paywrap
}

.submit {
  grid-area: submit; // paywrap
}

hr {
  grid-area: hr;
  margin: auto 5vw;
  width: 85vw;
}

input {
  margin: 0;
}

.cancel-btn {
  grid-area: cancel; // paywrap
}

form > input {
  margin-top: 3vh;
  height: 6vh;
}

// POPUPS

// SCREEN COVER (prevents unwanted button presses)
.popup-screen-cover {
  grid-area: 1 / 1 / 6 / 4;
  display: flex;
  position: relative;
  width: 100vw;
  height: 90vh;
  border: 2px solid rgb(39, 39, 39);
  background-color: rgba(248, 248, 248, 0.919);
  padding: 3vh 3vw;
  margin: 0 -2vw;
}

.popup-window {
  display: grid;
  grid-template:
    [s-s] ". . ." 2fr [s-e]
    [msg-s] ". contents ." 60fr [msg-e]
    [spc1-s] ". . ." 2fr [spc1-e]
    [yes-s] ". btn1 ." 6fr [yes-e]
    [spc2-s] ". . ." 6fr [spc2-e]
    [close-s] ". btn2 ." 6fr [close-e]
    [e-s] ". . ." 6fr [e-e]
    / 2fr 96fr 2fr;
  place-self: center stretch;
  width: 96vw;
  height: 90vh;
}

// CONFIRM CANCEL
.popup-contents {
  grid-area: contents;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw;
  background-color: rgb(248, 248, 248);
  overflow: scroll;
  flex-direction: column;
}

.msg {
  grid-area: msg;
  display: flex;
  flex-flow: column;
  // place-self: center;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 1rem;
}

.cancel {
  text-align: center;
  font-size: 2rem;
}

.cancel-btn-pop {
  grid-area: btn1; // popup-window
}

.close-btn {
  grid-area: btn2; // popup-window
  // margin: 1vh auto;
}
