<div [formGroup]=paymentForm class="paywrap">
  <button type="button" class="edit btn btn-primary btn-lg"
  routerLink="/order/order-list">Edit/View Order</button>
  <label class="total form-control" >${{total$ |async |number: '1.2'}}</label>
  <form class="form">
    <input formControlName="ccName" type="text" placeholder="Name" class="form-control">
    <input formControlName="ccNumber" type="number" placeholder="Credit Card #"class="form-control">
    <input formControlName="ccCsv" type="number" placeholder="3-Digit Security Code" class="form-control">
    <input formControlName="ccExp" type="date" placeholder="Exp Date"class="form-control">
  </form>
  <button type="submit" class="submit btn btn-success btn-lg"
  routerLink="../post-pay" (click)="submit()">Pay ${{total$ |async |number: '1.2'}}</button>
  <hr>
  <button type="button" class="cancel-btn btn btn-danger btn-lg" (click)="openCancelConfirm()">Cancel</button>


  <!-- POPUPS -->

  <div class="popup-screen-cover" *ngIf="popupFlag">
    <div class="popup-window">

      <!-- POPUP: CONFIRM -->
      <ng-container *ngIf="confirmFlag">
        <div class="popup-contents">
          <div class="msg">
            <div class="cancel">Do you <em>really</em> want to cancel this transaction?</div>
          </div>
        </div>
        <button type="button" class="cancel-btn-pop btn btn-danger btn-lg"
        (click)="confirmCancel()"
        routerLink="/order/order-list">
          Cancel Payment
        </button>
      </ng-container> <!-- confirm popup -->


      <!-- CLOSE BUTTON-->
      <button (click)="closePopup()" class="btn btn-primary close-btn btn-lg">
        Close
      </button><!-- POPUP: CLOSE BUTTON -->
    </div> <!-- popup window -->
  </div> <!-- popup cover -->

</div>
