.ssselector-wrap {
  display: grid;
  grid-template:
    [spacer1-start] ". . ." 3vh [spacer1-end]
    [salad-start] ". salad ." 26vh [salad-end]
    [spacer2-start] ". . ." 3vh [spacer2-end]
    [sandwich-start] ". sandwich ." 26vh [sandwich-end]
    [spacer3-start] ". . ." 3vh [spacer3-end]
    [other-start] ". other ." 26vh [other-end]
    [spacer4-start] ". . ." 3vh [spacer4-end]
    / 2vw 96vw 2vw;
}

.salad {
  display: grid;
  grid-area: salad;
  grid-template:
    [r1-s] ". . . . ." 18vh [r1-e]
    [r1-st] ". btn1 . btn2 ." 6vh [r1-e]
    [r1-s] ". . . . ." 2vh [r1-e]
    / 2vw 44vw 4vw 44vw 2vw;
}

.sandwich {
  display: grid;
  grid-area: sandwich;
  grid-template:
    [img-start] ". . . . ." 18vh [img-end]
    [img-start] ". btn1 . btn2 ." 6vh [img-end]
    [spc-start] ". . . . ." 2vh [spc-end]
    / 2vw 44vw 4vw 44vw 2vw;
}

.other {
  display: grid;
  grid-area: other;
  grid-template:
    [img-start] ". . ." 2vh [img-end]
    [img-start] ". btn1 ." 6vh [img-end]
    [spc-start] ". . ." 2vh [spc-end]
    [img-start] ". btn2 ." 6vh [img-end]
    [spc-start] ". . ." 2vh [spc-end]
    [img-start] ". btn3 ." 6vh [img-end]
    [spc-start] ". . ." 2vh [spc-end]
    / 50vw 44vw 2vw;
}

.fill {
  grid-area: 1 / 1 / 4 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid darkgreen;
}

.fill-other {
  grid-area: 1 / 1 / 8 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid darkgreen;
}

img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.salad-specialty {
  grid-area: btn1;
}

.salad-byo {
  grid-area: btn2;
}

.sandwich-specialty {
  grid-area: btn1;
}

.sandwich-byo {
  grid-area: btn2;
}

.sides {
  grid-area: btn1;
}

.desserts {
  grid-area: btn2;
}

.drinks {
  grid-area: btn3;
}

button {
  z-index: 2;
}
