<div class="ssselector-wrap">
  <!-- SALAD -->
  <div class="salad">
    <div class="fill">
      <img src="./assets/images/specialty_salad.png">
    </div>
    <button class="salad-specialty btn-primary  "
    (click)="setItemGroup('salad')"
    routerLink="/order/specialty">
      Specialty Salad!
    </button>
    <button class="salad-byo btn-primary  "
    (click)="setItemGroup('salad')"
    routerLink="../builder">
      BMO Salad!
    </button>
  </div> <!-- salad -->

  <!-- SANDWICH -->
  <div class="sandwich">
    <div class="fill">
      <img src="./assets/images/specialty_sandwich.png">
    </div>
    <button class="sandwich-specialty btn-primary  "
    (click)="setItemGroup('sandwich')"
    routerLink="/order/specialty">
      Specialty Sandwich!
    </button>
    <button class="sandwich-byo btn-primary  "
    (click)="setItemGroup('sandwich')"
    routerLink="../builder">
      BMO Sandwich!
    </button>
  </div> <!-- sandwich -->

  <!-- OTHER -->
  <div class="other">
    <div class="fill-other">
      <img src="./assets/images/specialty_other.png">
    </div>
    <button class="sides btn-primary  "
    (click)="setItemGroup('side')"
    routerLink="/order/other">
      Sides!
    </button>
    <button class="desserts btn-primary  "
    (click)="setItemGroup('dessert')"
    routerLink="/order/other">
      Desserts!
    </button>
    <button class="drinks btn-primary  "
    (click)="setItemGroup('drink')"
    routerLink="/order/other">
      Drinks!
    </button>
  </div> <!-- other -->

</div>
