.confirm-wrap {
  display: grid;
  grid-template:
    [s-s] ". . ." 5fr [s-e]
    [msg-s] ". msg ." 25fr [msg-e]
    [spc1-s] ". . ." 5fr [spc1-e]
    [yes-s] ". yes ." 5fr [yes-e]
    [spc2-s] ". . ." 5fr [spc2-e]
    [close-s] ". close ." 5fr [close-e]
    [e-s] ". . ." 5fr [e-e]
    / 2fr 96fr 2fr;
  background-color: lightgrey;
  margin: auto;
}

span .remove {
  display: inline-block;
  border-radius: 2px;
  color: darkgreen;
  border: 1px solid red;
  color: black;
  background-color: rgb(255, 168, 168);
  padding-inline: 0.25rem;
  margin-inline: 0.25rem;
  width: 3rem;
  align-content: center;
}

.msg {
  grid-area: msg;
  display: grid;
  place-self: center;
}

.yes {
  grid-area: yes;
}

.close {
  grid-area: close;
}
