<ng-container *ngIf="itemGroup$ |async as group">

  <div class="bread typeContainer" *ngIf="group=='sandwich'">
    <div class="ingredient-header" (click)="editIngredients('Bread')">
      Bread @ ${{iType['Bread'].price}}
    </div> <!-- breads header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let bread of breads">
        <ng-container *ngIf="inSelected(bread.id)">
          <div class="breads ingredient" (click)="editIngredients('Bread')">
                {{bread.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- breads -->

  <div class="green typeContainer" *ngIf="group=='salad'">
    <div class="ingredient-header" (click)="editIngredients('Greens')">
      Greens @ ${{iType['Greens'].price}} each
    </div> <!-- greens header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let green of greens">
        <ng-container *ngIf="inSelected(green.id)">
          <div class="greens ingredient" (click)="editIngredients('Greens')">
                {{green.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- greens -->

  <div class="meat typeContainer">
    <div class="ingredient-header" (click)="editIngredients('Meat')">
      Meats @ ${{iType['Meat'].price}} each
    </div> <!-- meat header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let meat of meats">
        <ng-container *ngIf="inSelected(meat.id)">
          <div class="meats ingredient" (click)="editIngredients('Meat')">
            {{meat.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- meats-->

  <div class="cheese typeContainer">
    <div class="ingredient-header" (click)="editIngredients('Cheese')">
      Cheeses @ ${{iType['Cheese'].price}} each
    </div> <!-- cheeses header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let cheese of cheeses">
        <ng-container *ngIf="inSelected(cheese.id)">
          <div class="cheeses ingredient" (click)="editIngredients('Cheese')">
                {{cheese.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- cheeses-->

  <div class="veggie typeContainer">
    <div class="ingredient-header" (click)="editIngredients('Veggies')">
      Veggies @ ${{iType['Veggies'].price}} each
    </div>  <!-- veggie header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let veggie of veggies">
        <ng-container *ngIf="inSelected(veggie.id)">
          <div class="veggies ingredient" (click)="editIngredients('Veggies')">
                {{veggie.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- veggies-->

  <div class="nuts-fruit typeContainer" *ngIf="group=='salad'">
    <div class="ingredient-header" (click)="editIngredients('Nuts/Fruit')">
      Nuts/Fruits @ ${{iType['Nuts/Fruit'].price}} each
    </div>  <!-- nuts/fruit header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let nutsFruit of nutsFruits">
        <ng-container *ngIf="inSelected(nutsFruit.id)">
          <div class="nuts-fruits ingredient" (click)="editIngredients('Nuts/Fruit')">
                {{nutsFruit.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- nuts & fruits -->

  <div class="condiment typeContainer" *ngIf="group=='sandwich'">
    <div class="ingredient-header" (click)="editIngredients('Condiments')">
      Condiments @ ${{iType['Condiments'].price}} each
    </div> <!-- condiment header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let condiment of condiments">
        <ng-container *ngIf="inSelected(condiment.id)">
          <div class="condiments ingredient" (click)="editIngredients('Condiments')">
                {{condiment.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- condiments -->

  <div class="condiment typeContainer" *ngIf="group=='salad'">
    <div class="ingredient-header" (click)="editIngredients('Dressings')">
      Dressings @ ${{iType['Dressings'].price}} each
    </div> <!-- dressing header -->
    <div class="ingredient-list">
      <ng-container *ngFor="let dressing of dressings">
        <ng-container *ngIf="inSelected(dressing.id)">
          <div class="dressings ingredient" (click)="editIngredients('Dressings')">
                {{dressing.name}}
          </div>
        </ng-container>
      </ng-container>
    </div> <!-- ingredient list -->
  </div> <!-- dressings -->

</ng-container>  <!-- view model -->
