<ng-container *ngFor="let recipe of recipes" >
  <div class="specialty-wrapper">
    <div class="recipe-wrap">
      <div class="fill">
        <img class="fill" src="{{ recipe.img }}" alt="">
      </div>
      <button class="btn btn-success"
      type="button" (click)="loadSpecialty(recipe.id)"
      routerLink="../builder"> {{ recipe.name }}</button>
      <div class="description bord-3">
        <h3>{{ recipe.name }}</h3>
        {{ recipe.description }}
      </div>
    </div> <!-- *ngFor: item wrap -->
  </div>
</ng-container>
