@import  '~bootstrap/scss/bootstrap.scss';
$border-med: #647609;
$border-dark: #101302;
$border-light: #f3fac6;
$bg-dark: #647609;
$bg-light: #f3fac6;
$bg-very-light: #fbfdec;

.btn-success {
  border-color: #647609;
  color: #101302;
  background-color: #f3fac6;
}

.btn-success:disabled {
  border-color: #101302;
  color: #647609;
  background-color: #dcf17e;
}

.btn-danger {
  background-color: #fbcfc5;
  color: #130501;
  border-color: #6f1a07;
}

.btn-warning {
  border-color: #504416;
  color: rgb(48, 48, 48);
  background-color: #f3edce;
}

.btn-primary {
  border-color: #2b2118;
  color: #0d0a07;
  background-color: #eae0d7;
}

.btn.focus {
  box-shadow: #0d0a0736;
}

button {
  font-weight: bold;
  font-size: 4vmin;
  padding: 0 5%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: 0 0.5 vmin;
  line-height: 1;

  border-radius: 0.25rem;
  transition: color 0.15;
}
