@import  '~bootstrap/scss/bootstrap.scss';

.bord-1 {
  border: 1px solid blue;
}

.bord-2 {
  border: 1px solid red;
}

.bord-3 {
  border: 1px solid green;
}

.bord-4 {
  border: 1px solid purple;
}

.bord-5 {
  border: 1px solid orange;
}
